In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://www.iban.com/country-codes"

In [3]:
page = requests.get(url)
page

In [4]:
soup = BeautifulSoup(page.text)
table = soup.find("table", id="myTable")

rows = table.find_all("tr")
data = {}
con = []
alp = []
for row in rows:
    columns = row.find_all("td")  # Find all columns in each row
    if len(columns) >= 2:
        country = columns[0].text.strip()  # Get the text content of the first column (Country)
        alpha3_code = columns[2].text.strip()  # Get the text content of the third column (Alpha-3 code)
        con.append(country)
        alp.append(alpha3_code)

In [5]:
df = pd.DataFrame({"Country": con, "Code": alp})
df

               Country Code
0          Afghanistan  AFG
1        Åland Islands  ALA
2              Albania  ALB
3              Algeria  DZA
4       American Samoa  ASM
..                 ...  ...
244  Wallis and Futuna  WLF
245     Western Sahara  ESH
246              Yemen  YEM
247             Zambia  ZMB
248           Zimbabwe  ZWE

[249 rows x 2 columns]

In [6]:
df.to_csv('codes.csv',index=False)

In [7]:
codes = pd.read_csv("codes.csv")

In [8]:
codes

               Country Code
0          Afghanistan  AFG
1        Åland Islands  ALA
2              Albania  ALB
3              Algeria  DZA
4       American Samoa  ASM
..                 ...  ...
244  Wallis and Futuna  WLF
245     Western Sahara  ESH
246              Yemen  YEM
247             Zambia  ZMB
248           Zimbabwe  ZWE

[249 rows x 2 columns]